<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>Bonjour voici la page pour aller a la somme ou la différence</h1>
<a href="{{ path('calcul_somme',{'a':1,'b':5}) }}">la somme</a><br>
<a href="{{ path('calcul_soustraction',{'a':1,'b':5}) }}">la soustraction</a>
</body>
</html>