<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>la template pour afficher la soustraction</h1>
<p>la soustraction de {{ a }} et {{ b }} est égale à {{ s }}</p>
</body>
</html>